{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    برنامه غذایی
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/diet-plan.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
    <link rel="stylesheet" href="{% static 'styles/programs.css' %}">
{% endblock %}

{% block Content %}
    <body>
    <section class="main-page">
        <main class="col-md-12 col-lg-12 content-main-admin">
            {% include 'base/components/header.html' %}

            <div style="display: flex; justify-content: space-between;">
                <h2 class="text-white m-4">
                    برنامه غذایی
                    <span style="font-size: 0.6em">({{ diet_program.title }})</span>
                </h2>
                <a href="{% url 'account:user-profile' diet_program.user.id %}" class="m-4">
                    <i class="fa fa-arrow-left" style="font-size: 24pt; color: white"></i>
                </a>
            </div>

            <div class="main-p-box">
                {% for daily_program in diet_program.daily_programs.all %}
                    <div class="daily-p-box">
                        <div class="daily-p-header-box">
                            <h3 style="margin-top: 0.4rem; margin-right: 0.5rem;">{{ daily_program.get_day_label }}</h3>
                        </div>

                        <div class="daily-p-main-meal-box">
                            {% for daily_meal in daily_program.daily_diet_meals.all %}
                                <div class="daily-p-meal-box">
                                    <div style="display: flex; flex-direction: column; align-items: center; border: 1px #1ab268 solid; background-color: #1ab268; padding: 0.5rem;">
                                        <h5 style="color: white;">{{ daily_meal.meal.title }}</h5>
                                        <span style="color: white; font-size: medium;">{{ daily_meal.meal.get_time }}</span>
                                    </div>
                                    <div class="daily-p-meal-food-main-box">
                                        {% for meal_food in daily_meal.meal_foods.all %}
                                            <span class="daily-p-meal-food-box">
                                                <i class="fa fa-square" style="font-size: 0.6em; margin-left: 0.5rem;"></i>
                                                <span>{{ meal_food.amount }}</span>
                                                <span style="margin: 0 0.25rem;">{{ meal_food.amount_unit }}</span>
                                                <span>{{ meal_food.food.title }}</span>
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}

                {% endfor %}

                <div class="daily-p-box" style="margin-top: 2rem;">
                    <div class="daily-p-header-box">
                        <h3 style="margin-top: 0.4rem; margin-right: 0.5rem;">توصیه های کلی</h3>
                    </div>
                    <div style="background-color: white; padding: 0.5rem; border-radius: 0 0 0.5rem 0.5rem;">
                        {% for recommend in diet_program.get_program_recommends %}
                            <div style="font-size: 12pt; margin-top: 0.5rem;">
                                <i class="fa fa-square" style="font-size: 0.6em; margin-left: 0.5rem;"></i>
                                <span>{{ recommend.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </section>
    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/diet-plan.js' %}"></script>
    </body>
{% endblock %}
