{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    لیست کاربران
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/users.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}

{% block Content %}
    <body>
    {% for user in users %}
        <div class="content-modal add-modal" id="add-modal-{{ user.id }}">
            <div class="inner-modal">
                <div class="content">
                    <div class="content-inner">
                        <div class="col-6">
                            <a href="/admin/program/dietprogram/add">
                                <div class="modal-item">
                                    <span style="padding-left:5px ;"><i class="fa-solid fa-bowl-food"></i></span>
                                    <span>تعریف برنامه غذایی</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'account:user-profile' user_id=user.id %}?training-add">
                                <div class="modal-item">
                                    <span style="padding-left:5px ;"><i
                                            class="fa-sharp fa-solid fa-dumbbell"></i></span>
                                    <span> تعریف برنامه تمرینی</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <section class="main-page">
        {% include 'account/admin/components/menu.html' %}
        <main class="col-md-12 col-lg-10 content-main-admin">
            {% include 'base/components/header.html' %}
            <section class="table-two col-12 col-lg-11" style="height: 80vh; overflow-y: scroll;">
                <table class="table">
                    <tr>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>کدملی</th>
                        <th>قد</th>
                        <th>وزن</th>
                        <th>شماره موبایل</th>
                        <th>عملیات</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td class="name-table" id="user_id"><a href="{{ user.get_absolute_url }}">{{ user.first_name }}</a></td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.info.national_code|default:'ثبت نشده' }}</td>
                            <td>{{ user.info.height|default:'ثبت نشده' }}</td>
                            <td>{{ user.info.weight|default:'ثبت نشده' }}</td>
                            <td>{{ user.get_raw_phonenumber }}</td>
                            <td>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#delete-user-{{ user.id }}">
                                    <span><i class="fa-solid  fa-trash"></i></span>
                                </button>
                                <span class="add-btn btn btn-primary" style="margin-right: 10px;" modal-id="{{ user.id }}"><i
                                        class="fa-solid  fa-circle-plus"></i>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
        </main>
    </section>



    {% for user in users %}
        <div class="modal fade" id="delete-user-{{ user.id }}" tabindex="-1"
             aria-labelledby="delete-user-{{ user.id }}-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">حذف کاربر
                            - {{ user.get_full_name|truncatechars:30 }}</h5>
                    </div>
                    <div class="modal-body">
                        <p class="bg-danger-text text-bold">توجه کنید با حذف کاربر تمام محتویات مربوط با ان حذف خواهند
                            شد</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'account:user-profile-delete' user_id=user.id %}">
                                بله متوجه ام، حذف کاربر
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </body>
{% endblock %}

{% block Script %}
    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/admin/user.js' %}"></script>
{% endblock %}