{% load static %}

<html lang="fa" dir="rtl">
<head>
    {% include 'base/components/head_references.html' %}
    <title>{% block Title %}{% endblock %}</title>

    {% block Link %}
    {% endblock %}

    {% block Style %}
    {% endblock %}
</head>

<body>
    {% block Content %}
    {% endblock %}

    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/vendors/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/urls.js' %}"></script>
    <script src="{% static 'scripts/notify.js' %}"></script>
    <script src="{% static 'scripts/base.js' %}"></script>
    <script src="{% static 'front/js/menu.js' %}"></script>

    <script>
        {% for message in messages %}
            createNotify({
                title: '{{ message.tags }}' === 'success' ? 'موفق' : 'ارور',
                message: '{{ message }}',
                theme: '{{ message.tags }}'
            })
        {% endfor %}
    </script>

    {% block Script %}
    {% endblock %}

    {% block Js %}
    {% endblock %}
</body>

</html>