{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
     برنامه غذایی رایگان
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/definition-of-diet.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}

{% block Style %}
    <style>
        label {
            color: #111;
            margin-bottom: 5px;
            font-size: 120%;
        }

        select[multiple] {
            max-height: 250px;
        }

        .field {
            padding: 5px;
        }

        .field > div {
            margin: 2px;
            border-radius: 10px;
            padding: 10px;
        }

    </style>
{% endblock %}

{% block Content %}
    <body>
    <section class="main-page">
        <main class="col-md-12 content-main-admin">
            {% include 'base/components/header.html' %}
            <h2 class="text-white m-4"> برنامه غذایی رایگان</h2>
            <div class="btns-table  col-12 col-lg-11">
                <div class="btn-item active">شنبه</div>
                <div class="btn-item">یکشنبه</div>
                <div class="btn-item">دوشنبه</div>
                <div class="btn-item">سه شنبه</div>
                <div class="btn-item">چهارشنبه</div>
                <div class="btn-item">پنج شنیه</div>
                <div class="btn-item">جمعه</div>
            </div>
               <section class="table-two col-12 col-lg-11">
                <div class="tables-content active">
                    <table class="table">
                        {% for program in programs0 %}
                            <tr class="{% if program.is_new %}tr-active{% endif %}">
                                <td>{{ program.food.name }}</td>
                                <td>
                                    {{ program.amount }}
                                    گرم
                                </td>
                                <td>
                                    {{ program.energy }}
                                    کالری
                                </td>
                                <td>{{ program.description }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="tables-content">
                    <table class="table">
                        {% for program in programs1 %}
                            <tr class="{% if program.is_new %}tr-active{% endif %}">
                                <td>{{ program.food.name }}</td>
                                <td>
                                    {{ program.amount }}
                                    گرم
                                </td>
                                <td>
                                    {{ program.energy }}
                                    کالری
                                </td>
                                <td>{{ program.description }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="tables-content">
                    <table class="table">
                        {% for program in programs2 %}
                            <tr class="{% if program.is_new %}tr-active{% endif %}">
                                <td>{{ program.food.name }}</td>
                                <td>
                                    {{ program.amount }}
                                    گرم
                                </td>
                                <td>
                                    {{ program.energy }}
                                    کالری
                                </td>
                                <td>{{ program.description }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="tables-content">
                    <table class="table">
                        {% for program in programs3 %}
                            <tr class="{% if program.is_new %}tr-active{% endif %}">
                                <td>{{ program.food.name }}</td>
                                <td>
                                    {{ program.amount }}
                                    گرم
                                </td>
                                <td>
                                    {{ program.energy }}
                                    کالری
                                </td>
                                <td>{{ program.description }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="tables-content">
                    <table class="table">
                        {% for program in programs4 %}
                            <tr class="{% if program.is_new %}tr-active{% endif %}">
                                <td>{{ program.food.name }}</td>
                                <td>
                                    {{ program.amount }}
                                    گرم
                                </td>
                                <td>
                                    {{ program.energy }}
                                    کالری
                                </td>
                                <td>{{ program.description }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="tables-content">
                    <table class="table">
                        {% for program in programs5 %}
                            <tr class="{% if program.is_new %}tr-active{% endif %}">
                                <td>{{ program.food.name }}</td>
                                <td>
                                    {{ program.amount }}
                                    گرم
                                </td>
                                <td>
                                    {{ program.energy }}
                                    کالری
                                </td>
                                <td>{{ program.description }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="tables-content">
                    <table class="table">
                        {% for program in programs6 %}
                            <tr class="{% if program.is_new %}tr-active{% endif %}">
                                <td>{{ program.food.name }}</td>
                                <td>
                                    {{ program.amount }}
                                    گرم
                                </td>
                                <td>
                                    {{ program.energy }}
                                    کالری
                                </td>
                                <td>{{ program.description }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>چیزی یافت نشد</p>
                            </div>
                        {% endfor %}
                    </table>
                </div>

            </section>
        </main>
    </section>


    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/admin/definition-of-diet.js' %}"></script>
    </body>
{% endblock %}
