{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
  تعریف برنامه تمرینی
{% endblock %}

{% block Link %}
  <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/styles/definition-of-training-program.css' %}">
  <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}
{% block Content %}
<body>
  <div class="content-modal moda-add-material">
    <div class="inner-modal">
      <form class="px-4 pt-2">
        <div class="py-2">
          <div class="title">
            <div>تعریف غذای جدید</div>
          </div>
          <div class="item-input">
            <input type="text" placeholder="نام" >
          </div>
          <div class="item-input">
            <input type="text" placeholder="مقدار" >
          </div>
          <div class="item-input">
            <input type="text" placeholder="کالری" >
          </div>
          <textarea
            name="modal"
            class="input-modal"
            id="text-post-add"
            cols="30"
            rows="7"
            placeholder="متن را تایپ کنید"></textarea>
            <div class="register-btn">
              <button>ثبت</button>
            </div>
        </div>
      </div>
    </form>
  </div>

   <section class="main-page">
    {% include 'account/admin/components/menu.html' %}
       <main class="col-md-12 col-lg-10 content-main-admin" >
        <header class="ms-header">
            <nav class="ms-nav">
                <div class="user col-6">
                    <span><img src="{% static 'front/images/userimage.png' %}" alt=""></span>
                    <span>نام و نام خانوادگی</span>
                </div>
                <div class="logo col-6">
                    <img src="{% static 'front/images/22.png' %}" alt="">
                </div>
            </nav>
        </header>
        <div class="btns-table  col-12 col-lg-11"> 
            <div class="btn-item active">شنبه</div>
            <div class="btn-item">یکشنبه</div>
            <div class="btn-item">دوشنبه</div>
            <div class="btn-item">سه شنبه</div>
            <div class="btn-item">چهارشنبه</div>
            <div class="btn-item">پنج شنیه</div>
            <div class="btn-item">جمعه</div>
           </div>
        <section class="table-two col-12 col-lg-11">
            <div class="tables-content active">
                <div class="add-button btn-material-add">
                    <div class="inner-add-button col-6 col-md-2">
                       <div class="col-2 col-md-2">
                           <img src="{% static 'front/images/add.png' %}" alt="">
                        </div>
                        <div class="text">اضافه کردن حرکات تمرینی</div>
                    </div>
                   </div>
                   <table class="table">
                       <tr>
                         <td>اسکوات</td>
                         <td>30بار</td> 
                         <td>3ست</td>
                         <td>توضیحات بیشتر</td>
                       </tr>
                       <tr>
                        <td>اسکوات</td>
                        <td>30بار</td> 
                        <td>3ست</td>
                        <td>توضیحات بیشتر</td>
                      </tr>
                      <tr>
                        <td>اسکوات</td>
                        <td>30بار</td> 
                        <td>3ست</td>
                        <td>توضیحات بیشتر</td>
                      </tr>
                      <tr>
                        <td>اسکوات</td>
                        <td>30بار</td> 
                        <td>3ست</td>
                        <td>توضیحات بیشتر</td>
                      </tr>
                      <tr>
                        <td>اسکوات</td>
                        <td>30بار</td> 
                        <td>3ست</td>
                        <td>توضیحات بیشتر</td>
                      </tr>
                      <tr>
                        <td>اسکوات</td>
                        <td>30بار</td> 
                        <td>3ست</td>
                        <td>توضیحات بیشتر</td>
                      </tr>
                      <tr>
                        <td>اسکوات</td>
                        <td>30بار</td> 
                        <td>3ست</td>
                        <td>توضیحات بیشتر</td>
                      </tr>
                      <tr>
                        <td>اسکوات</td>
                        <td>30بار</td> 
                        <td>3ست</td>
                        <td>توضیحات بیشتر</td>
                      </tr>
                    
                       
                   </table>
            </div>
            <div class="tables-content">
              <div class="add-button btn-material-add">
                  <div class="inner-add-button col-6 col-md-2">
                     <div class="col-2 col-md-2">
                         <img src="{% static 'front/images/add.png' %}" alt="">
                      </div>
                      <div class="text">اضافه کردن حرکات تمرینی</div>
                  </div>
                 </div>
                 <table class="table">
                     <tr>
                       <td>اسکوات</td>
                       <td>30بار</td> 
                       <td>3ست</td>
                       <td>توضیحات بیشتر</td>
                     </tr>
                     <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                  
                     
                 </table>
            </div>
            <div class="tables-content">
              <div class="add-button btn-material-add">
                  <div class="inner-add-button col-6 col-md-2">
                     <div class="col-2 col-md-2">
                         <img src="{% static 'front/add.png' %}" alt="">
                      </div>
                      <div class="text">اضافه کردن حرکات تمرینی</div>
                  </div>
                 </div>
                 <table class="table">
                     <tr>
                       <td>اسکوات</td>
                       <td>30بار</td> 
                       <td>3ست</td>
                       <td>توضیحات بیشتر</td>
                     </tr>
                     <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                  
                     
                 </table>
            </div>
            <div class="tables-content">
              <div class="add-button btn-material-add">
                  <div class="inner-add-button col-6 col-md-2">
                     <div class="col-2 col-md-2">
                         <img src="{% static 'front/images/add.png' %}" alt="">
                      </div>
                      <div class="text">اضافه کردن حرکات تمرینی</div>
                  </div>
                 </div>
                 <table class="table">
                     <tr>
                       <td>اسکوات</td>
                       <td>30بار</td> 
                       <td>3ست</td>
                       <td>توضیحات بیشتر</td>
                     </tr>
                     <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                  
                     
                 </table>
            </div>
            <div class="tables-content">
              <div class="add-button btn-material-add">
                  <div class="inner-add-button col-6 col-md-2">
                     <div class="col-2 col-md-2">
                         <img src="{% static 'front/images/add.png' %}" alt="">
                      </div>
                      <div class="text">اضافه کردن حرکات تمرینی</div>
                  </div>
                 </div>
                 <table class="table">
                     <tr>
                       <td>اسکوات</td>
                       <td>30بار</td> 
                       <td>3ست</td>
                       <td>توضیحات بیشتر</td>
                     </tr>
                     <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                  
                     
                 </table>
            </div>
            <div class="tables-content">
              <div class="add-button btn-material-add">
                  <div class="inner-add-button col-6 col-md-2">
                     <div class="col-2 col-md-2">
                         <img src="{% static 'front/images/add.png' %}" alt="">
                      </div>
                      <div class="text">اضافه کردن حرکات تمرینی</div>
                  </div>
                 </div>
                 <table class="table">
                     <tr>
                       <td>اسکوات</td>
                       <td>30بار</td> 
                       <td>3ست</td>
                       <td>توضیحات بیشتر</td>
                     </tr>
                     <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                  
                     
                 </table>
            </div>
            <div class="tables-content">
              <div class="add-button btn-material-add">
                  <div class="inner-add-button col-6 col-md-2">
                     <div class="col-2 col-md-2">
                         <img src="{% static 'front/images/add.png' %}" alt="">
                      </div>
                      <div class="text">اضافه کردن حرکات تمرینی</div>
                  </div>
                 </div>
                 <table class="table">
                     <tr>
                       <td>اسکوات</td>
                       <td>30بار</td> 
                       <td>3ست</td>
                       <td>توضیحات بیشتر</td>
                     </tr>
                     <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                  
                     
                 </table>
            </div>
            <div class="tables-content">
              <div class="add-button btn-material-add">
                  <div class="inner-add-button col-6 col-md-2">
                     <div class="col-2 col-md-2">
                         <img src="{% static 'front/images/add.png' %}" alt="">
                      </div>
                      <div class="text">اضافه کردن حرکات تمرینی</div>
                  </div>
                 </div>
                 <table class="table">
                     <tr>
                       <td>اسکوات</td>
                       <td>30بار</td> 
                       <td>3ست</td>
                       <td>توضیحات بیشتر</td>
                     </tr>
                     <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                    <tr>
                      <td>اسکوات</td>
                      <td>30بار</td> 
                      <td>3ست</td>
                      <td>توضیحات بیشتر</td>
                    </tr>
                  
                     
                 </table>
            </div>
         
                
        </section>
       </main>
   </section>
   <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
   <script src="{% static 'front/js/admin/definition-of-training-program.js' %}"></script>
</body>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعریف برنامه تمرینی</title>

</head> -->

<!-- </html> -->