{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    تعریف رژیم غذایی
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/definition-of-diet.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}

{% block Style %}
    <style>
        label {
            color: #fff;
            margin-bottom: 5px;
            font-size: 120%;
        }

        input, select, textarea {
            background: #222 !important;
            color: #fff !important;
        }

        select[multiple] {
            max-height: 250px;
        }

        .field {
            padding:5px;
        }

        .field > div {
            margin: 10px;
            border: 1px solid #333;
            border-radius: 10px;
            padding: 10px;
        }

    </style>
{% endblock %}

{% block Content %}
    <body>
    <section class="main-page">
        {% include 'account/admin/components/menu.html' %}
        <main class="col-md-12 col-lg-10 content-main-admin">
            {% include 'base/components/header.html' %}
            <h2 class="text-white m-4">تعریف برنامه غذایی</h2>
            <section class="table-two col-12 col-lg-11">
                <div class="tables-content active p-5">
                    <form action="{% url 'account:definition-of-diet' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-6 field">
                                <div>
                                    <label for="">کاربر</label>
                                    <select name="user" id="" class="form-control form-select" required multiple>
                                        {% for user in users %}
                                            <option value="{{ user.id }}">{{ user.get_full_name|truncatechars:15 }}-{{ user.get_raw_phonenumber }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 field">
                                <div>
                                    <label for="">غذا</label>
                                    <select name="food" id="" class="form-control form-select" required multiple>
                                        {% for food in foods %}
                                            <option value="{{ food.id }}">{{ food.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 field">
                                <div>
                                    <label for="">مقدار</label>
                                    <input type="number" class="form-control" name="amount" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 field">
                                <div>
                                    <label>انرژی</label>
                                    <input type="number" class="form-control" name="energy" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 field">
                                <div>
                                    <label for="">روز</label>
                                    <select name="day" id="" class="form-control form-select" required multiple>
                                        <option value="0">شنبه</option>
                                        <option value="1">یکشنبه</option>
                                        <option value="2">دوشنبه</option>
                                        <option value="3">سه شنبه</option>
                                        <option value="4">چهارشنبه</option>
                                        <option value="5">پنجشنبه</option>
                                        <option value="6">جمعه</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 field">
                                <div>
                                    <label for="">توضیحات</label>
                                    <textarea name="description" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-left">
                                <button class="btn btn-success p-2" style="width: 110px">ثبت</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </section>
    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/admin/definition-of-diet.js' %}"></script>
    </body>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تعریف رژیم غذایی</title>
  </head>


</html> -->