{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    لیست غذاها
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/users.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}
{% block Content %}
    <body>

    <section class="main-page">
        {% include 'account/admin/components/menu.html' %}
        <main class="col-md-12 col-lg-10 content-main-admin">
            {% include 'base/components/header.html' %}
            <div class="m-3">
                <h3 class="text-white">لیست غذاها</h3>
                <button class="mt-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-food">
                    افزودن غذا
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <section class="table-two col-12 col-lg-11">
                <table class="table">
                    <tr>
                        <th>نام</th>
                        <th>عملیات</th>
                    </tr>
                    {% for food in foods %}
                        <tr>
                            <td>{{ food.name }}</td>
                            <td>
                                <a href="{% url 'program:food_delete' food_id=food.id %}" class="btn btn-danger">
                                    <span><i class="fa fa-trash"></i></span>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                       <tr>
                            <td colspan="1000">
                                <div class="container-not-found-base">
                                    <p>چیزی یافت نشد</p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </section>
        </main>
    </section>


    <!-- Modal -->
    <div class="modal fade" id="add-food" tabindex="-1" aria-labelledby="add-food-Label" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{% url 'program:food_add' %}" method="post">
                {% csrf_token %}
                <div class="modal-content col-11 mx-auto">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">افزودن غذا</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="">نام غذا</label>
                            <input type="text" class="form-control" required name="name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
                        <button type="submit" class="btn btn-primary">ثبت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </body>
{% endblock %}

{% block Script %}
    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
{% endblock %}