{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
تعریف رژیم غذایی
{% endblock %}

{% block Link %}
  <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/styles/user-profile.css' %}">
  <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}

{% block Content %}
<body class="content-main-admin" style="padding:10px ;">
  <section class="main-page">
      <main class="col-md-12 col-lg-12" >
        <div class="col-12 col-lg-11 back-btn">
        <span>لیست کاربران</span>
        <span class="back"><img src="{% static 'front/images/back-icon.png' %}" alt=""></span>
        </div>
        <section class="user-profile col-12 col-lg-11">
            <div class="col-2 col-md-1">
             <div class="user-img">
              <img src="{% static 'front/images/user.jpg' %}" alt="">
             </div>
            </div>
            <div class="col-10 col-md-11">
                <div class="specifications">
                  <div class="col-4">
                      <div class="specifications-item">
                       {{user.first_name}}
                      </div>
                  </div>
                  <div class="col-4">
                   <div class="specifications-item">
                   2981018541
                   </div>
               </div>
               <div class="col-4">
                   <div class="specifications-item">
                    {{user.phonenumber}}
                   </div>
               </div>
               <div class="col-4">
                   <div class="specifications-item">
                    48کیلوگرم
                   </div>
               </div>
               <div class="col-4">
                <div class="specifications-item">
                 189
                </div>
            </div>
            <div class="col-4">
                <div class="specifications-item">
                 555
                </div>
            </div>
            
               
              
                </div>
            </div>
        </section>
        <div class="table-title col-12 col-lg-11">لیست برنامه های غذایی</div>
        <section class="table-two col-12 col-lg-11 ">
           <table class="table">
               <tr>
                 <td>کاهو</td>
                 <td>100گرم</td> 
                 <td>200کالری</td>
                 <td>توضیحات بیشتر</td>
               </tr>
               <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr> 
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
               
           </table>
       </section>

       <div class="table-title col-12 col-lg-11">لیست تمرین بدنی</div>
       <section class="table-two col-12 col-lg-11">
           <table class="table">
               <tr>
                 <td>کاهو</td>
                 <td>100گرم</td> 
                 <td>200کالری</td>
                 <td>توضیحات بیشتر</td>
               </tr>
               <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr> 
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                    <td>کاهو</td>
                    <td>100گرم</td> 
                    <td>200کالری</td>
                    <td>توضیحات بیشتر</td>
                  </tr>
                  <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
                 <tr>
                   <td>کاهو</td>
                   <td>100گرم</td> 
                   <td>200کالری</td>
                   <td>توضیحات بیشتر</td>
                 </tr>
               
           </table>
       </section>

       
      </main>
  </section>
  <script src="{% static 'front/js/back.js' %}"></script>
  <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
</body>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پنل ادمین</title>
    <link rel="stylesheet" href="../assets/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/user-profile.css">
    <link rel="stylesheet" href="../assets/styles/all.css">
</head> -->
<!-- 
</html> -->