{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
  لیست کاربران
{% endblock %}

{% block Link %}
  <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/styles/users.css' %}">
  <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}
{% block Content %}
<body>
  <div class="content-modal" id="add-modal">
    <div class="inner-modal">
      <div class="content">
        <div class="content-inner">
          <div class="col-6">
            <a href="{% url 'account:definition-of-diet' %}">
              <div class="modal-item">
                <span style="padding-left:5px ;"><i class="fa-solid fa-bowl-food"></i></span>
                <span>تعریف برنامه غذایی</span>
              </div>
            </a>
          </div>
          <div class="col-6">
            <a href="{% url 'account:definition-of-training-program' %}">
              <div class="modal-item">
                <span style="padding-left:5px ;"><i class="fa-sharp fa-solid fa-dumbbell"></i></span>
                <span> تعریف برنامه تمرینی</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
   <section class="main-page">
    {% include 'account/admin/components/menu.html' %}
       <main class="col-md-12 col-lg-10 content-main-admin" >
        <header class="ms-header">
            <nav class="ms-nav">
                <div class="user col-6">
                    <span><img src="{% static 'front/images/userimage.png' %}" alt=""></span>
                    <span>نام و نام خانوادگی</span>
                </div>
                <div class="logo col-6">
                    <img src="{% static 'front/images/22.png' %}" alt="">
                </div>
            </nav>
        </header>
        <section class="table-two col-12 col-lg-11">
                 <table class="table">
                  <tr>
                    <th>نام </th>
                    <th>نام خانوادگی</th>
                    <th>کدملی</th>
                    <th>قد</th>
                    <th>وزن</th>
                    <th>شماره موبایل</th>
                    <th>عملیات</th>
                  </tr>
                    {% for user in users %}
                    <tr>
                      <td  class="name-table" id="user_id"><a href="{{ user.get_absolute_url }}">{{user.first_name}}</a></td>
                      <td>{{ user.last_name }}</td> 
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>{{user.get_raw_phonenumber }}</td> 
                      <td>
                         <span><i class="fa-solid  fa-trash"></i></span>
                         <span class="add-btn" style="padding-right:10px ;"><i class="fa-solid  fa-circle-plus"></i></span>
                     </td>
                  </tr>
                    {% endfor %}
                 </table>
          </div>
      </section>
       </main>
   </section>
   <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
   <script src="{% static 'front/js/admin/user.js' %}"></script>

</body>
{% endblock %}



<!-- <!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پنل ادمین</title>
    <link rel="stylesheet" href="../assets/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/users.css">
    <link rel="stylesheet" href="../assets/styles/all.css">
</head> -->
<!-- 
</html> -->