{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    دسته بندی برنامه های غذایی
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/users.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}

{% block Content %}
    <body>
        <section class="main-page">
            {% include 'account/admin/components/menu.html' %}
            <main class="col-md-12 col-lg-10 content-main-admin">
                {% include 'base/components/header.html' %}

                <div class="m-3">
                    <h3 class="text-white">لیست دسته بندی های غذایی</h3>
                    <div style="display: flex; align-items: center; gap: 0.5rem">
                        <button class="mt-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-category">
                            افزودن دسته بندی
                            <i class="fa fa-plus"></i>
                        </button>
                        <form method="post" action="{% url 'program:diet_category' %}">
                            {% csrf_token %}
                            <label for="q">
                                <input type="search" name="q" placeholder="جستجو کاربر" class="form-control">
                            </label>
                        </form>
                    </div>
                </div>

                <section class="table-two col-12 col-lg-11">
                    <table class="table">
                        <tr>
                            <th>برای کاربر</th>
                            <th>عنوان</th>
                            <th>زمان ایجاد</th>
                            <th>حذف</th>
                        </tr>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.user.last_name|truncatechars:15 }} ({{ category.user.get_raw_phonenumber }})</td>
                                <td>{{ category.title }}</td>
                                <td>{{ category.created_at|date:"Y/m/d" }}</td>
                                <td>
                                    <a href="{% url 'program:diet_category_del' category.id %}" class="btn btn-danger">
                                        <span><i class="fa fa-trash"></i></span>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                           <tr>
                                <td colspan="1000">
                                    <div class="container-not-found-base">
                                        <p>چیزی یافت نشد</p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                </section>
            </main>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="add-category" tabindex="-1" aria-labelledby="add-category-Label" aria-hidden="true">
            <div class="modal-dialog">
                <form action="{% url 'program:diet_category_add' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-content col-11 mx-auto">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">افزودن دسته بندی</h5>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label for="user">کاربر</label>
                                <select id="user" name="user" class="form-control" required>
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.last_name }} - {{ user.get_raw_phonenumber }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="title">عنوان دسته بندی</label>
                                <input type="text" id="title" class="form-control" name="title" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
                            <button type="submit" class="btn btn-primary">ثبت</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}

{% block Script %}
    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
{% endblock %}
