{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
  برنامه ورزشی
{% endblock %}

{% block Link %}
<link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'front/styles/exercise.css' %}">
<link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}
{% block Content %}
<body>
  <section class="main-page">
      <main class="col-md-12 col-lg-12 content-main-admin" >
       <header class="ms-header">
           <nav class="ms-nav">
               <div class="user col-6">
                   <span><img src="{% static 'front/images/userimage.png' %}" alt=""></span>
                   <span>{{user.first_name}} {{user.last_name}}</span>
               </div>
               <div class="logo col-6">
                   <img src="{% static 'front/images/22.png' %}" alt="">
               </div>
           </nav>
       </header>
       <div class="btns-table  col-12 col-lg-11"> 
           <div class="btn-item active" id = "0" >شنبه</div>
           <div class="btn-item"id = "1">یکشنبه</div>
           <div class="btn-item"id = "2">دوشنبه</div>
           <div class="btn-item"id = "3">سه شنبه</div>
           <div class="btn-item"id = "4">چهارشنبه</div>
           <div class="btn-item"id = "5">پنج شنیه</div>
           <div class="btn-item"id = "6">جمعه</div>
          </div>
       <section class="table-two col-12 col-lg-11">
           <div class="tables-content active">
                  <table class="table">
                    {%for program in programs0%}
                      <tr>
                        <td>{{program.sport.name}}</td>
                        <td>{{program.rep}}</td> 
                        <td>{{program.sets}}</td>
                        <td>{{program.info}}</td>
                      </tr>
                      <tr>
                        {%endfor%}
                  </table>
           </div>
           <div class="tables-content">
                  <table class="table">
                    {%for program in programs1%}
                    <tr>
                      <td>{{program.sport.name}}</td>
                      <td>{{program.rep}}</td> 
                      <td>{{program.sets}}</td>
                      <td>{{program.info}}</td>
                    </tr>
                    <tr>
                      {%endfor%}
                  </table>
           </div>
           <div class="tables-content">
            <table class="table">
              {%for program in programs2%}
              <tr>
                <td>{{program.sport.name}}</td>
                <td>{{program.rep}}</td> 
                <td>{{program.sets}}</td>
                <td>{{program.info}}</td>
              </tr>
              <tr>
                {%endfor%}
            </table>
     </div>
     <div class="tables-content">
      <table class="table">
        {%for program in programs3%}
        <tr>
          <td>{{program.sport.name}}</td>
          <td>{{program.rep}}</td> 
          <td>{{program.sets}}</td>
          <td>{{program.info}}</td>
        </tr>
        <tr>
          {%endfor%}
      </table>
</div>
<div class="tables-content">
  <table class="table">
    {%for program in programs4%}
    <tr>
      <td>{{program.sport.name}}</td>
      <td>{{program.rep}}</td> 
      <td>{{program.sets}}</td>
      <td>{{program.info}}</td>
    </tr>
    <tr>
      {%endfor%}
  </table>
</div>
<div class="tables-content">
  <table class="table">
    {%for program in programs5%}
    <tr>
      <td>{{program.sport.name}}</td>
      <td>{{program.rep}}</td> 
      <td>{{program.sets}}</td>
      <td>{{program.info}}</td>
    </tr>
    <tr>
      {%endfor%}
  </table>
</div>
           <div class="tables-content">
                  <table class="table">
                    {%for program in programs6%}
                    <tr>
                      <td>{{program.sport.name}}</td>
                      <td>{{program.rep}}</td> 
                      <td>{{program.sets}}</td>
                      <td>{{program.info}}</td>
                    </tr>
                    <tr>
                      {%endfor%}
                  </table>
           </div>

       </section>
      </main>
  </section>
  <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
  <script src="{% static 'front/js/exercise.js' %}"></script>
</body>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>برنامه غذایی</title>
   
</head> -->
