<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="phonenumber-wrapper">
            <h2 id="phonenumber-text">شماره تلفن</h2>
            <input type="text" placeholder="" name="phonenumber" id="phonenumber-input" pattern="[0-9]{11,12}">
            <i></i>
        </div>

        <div class="password-wrapper">
            <h2 id="password-text">رمز عبور</h2>
            <input type="password" placeholder="" name="password" id="password-input">
        </div>

        <div class="sign-in-button">
            <input type="submit" value="ورود" class="signin-button">
        </div>

    </form>
</body>
</html>