{% load static %}
<header class="ms-header">
    <nav class="ms-nav">
        <div class="user col-6 d-flex justify-content-start align-items-center">
            <div class="d-flex align-items-center gap-2">
                {% if user.is_anonymous %}
                    <span><img src="{% static 'front/images/userimage.png' %}" alt="Default profile pic"></span>
                    <a href="{% url 'account:login_register' %}">ورود و ثبت نام</a>
                {% else %}
                    <a href="{{ user.get_absolute_url }}" class="d-flex align-items-center gap-2">
                        <span>
                            <img src="{% static 'front/images/userimage.png' %}" alt="User profile pic">
                        </span>
                        <span class="mt-1">{{ user.get_full_name }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <a href="{% url 'public:index' %}" class="logo col-6">
            <img src="{% static 'front/images/logo.png' %}" alt="" style="border-radius: 10px">
        </a>
    </nav>
</header>