{% load static %}

<nav class="menu-fixed-right col-2">
    <div class="inner-menu-fixed-right">
        <div class="logo">
            <a href="{% url 'public:index' %}">
                <img src="{% static 'front/images/22.png' %}" alt="">
            </a>
        </div>
        <div class="up-menu">
            <ul class="list">
                <li class="item-menu">
                    <a href="{% url 'account:home-admin' %}">
                        <span><i class="fa fa-home"></i></span>
                        <span>خانه </span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:users' %}">
                        <span><i class="fa-solid fa-users"></i></span>
                        <span>لیست کاربران</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:definition-of-diet' %}">
                        <span><i class="fa-solid fa-bowl-food"></i></span>
                        <span>تعریف برنامه غذایی</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:definition-of-training-program' %}">
                        <span><i class="fa-sharp fa-solid fa-dumbbell"></i></span>
                        <span>تعریف برنامه تمرینی</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:definition-of-diet-free' %}">
                        <span><i class="fa-solid fa-bowl-food"></i></span>
                        <span>تعریف برنامه غذایی رایگان</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'program:diet_category' %}">
                        <span><i class="fa-solid fa-boxes-stacked"></i></span>
                        <span>دسته بندی برنامه غذایی</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:foods' %}">
                        <span><i class="fa-sharp fa-solid fa-bowl-food"></i></span>
                        <span>غذاها</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:sports' %}">
                        <span><i class="fa-sharp fa-solid fa-dumbbell"></i></span>
                        <span>ورزش ها</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:certificates' %}">
                        <span><i class="fa-sharp fa-solid fa-file"></i></span>
                        <span>مدارک</span>
                    </a>
                </li>
                <li class="item-menu d-none">
                    <a href="#">
                        <span><i class="fa-solid fa-message"></i></span>
                        <span>چت آنلاین</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'account:logout' %}">
                        <span><i class="fa fa-sign-out"></i></span>
                        <span>خروج</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
