{% extends 'base/base_template.html' %}
{% load static %}
{% load filters %}

{% block Title %}
    پروفایل کاربر
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
{% endblock %}

{% block Style %}
    <style>

        .field {
            margin: 10px 0;
        }

        .field label {
            margin-bottom: 10px;
        }

        select {
            max-height: 250px;
        }

    </style>
{% endblock %}

{% block Content %}
    <body class="content-main-admin" style="padding:10px ;">
    <section class="main-page">
        <main class="col-md-12 col-lg-12">
            <div class="col-12 col-lg-11 back-btn">
                <span>مشخصات</span>
                <button onclick="window.location ='{% if user.is_admin_user %}{% url 'account:home-admin' %}{% else %}{% url 'public:index' %}{% endif %}'" class="back">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <section class="user-profile col-12 col-lg-11">
                <div class="col-2 col-md-1">
                    <div class="user-img">
                        <img src="{{ user_detail.get_image_url }}" alt="{{ user.get_full_name }}">
                    </div>
                    {% if user_detail == user %}
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#edit-info-user">
                                تغییر مشخصات
                            </button>
                            <a href="{% url 'account:logout' %}" class="btn btn-danger mt-3">
                                خروج
                            </a>
                        </div>
                    {% else %}
                        <div class="specifications-item mt-3">
                            <a href="#" class="btn btn-primary p-2">
                                همه اطلاعات
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-10 col-md-11">
                    <div class="specifications">
                        <div class="col-4">
                            <div class="specifications-item">
                                {{ user_detail.get_full_name }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="specifications-item">
                                {{ user_detail.info.national_code|default:'ثبت نشده است' }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="specifications-item">
                                {{ user_detail.get_raw_phonenumber }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="specifications-item">
                                {% if user_detail.info.weight %}
                                    {{ user_detail.info.weight }}
                                    کیلوگرم
                                {% else %}
                                    ثبت نشده است
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="specifications-item">
                                {{ user_detail.info.height|default:'ثبت نشده است' }}
                            </div>
                        </div>
                        {% if user.is_admin_user %}
                            <div class="col-12 text-left mt-3">
                                <div class="">
                                    <a href="{% url 'admin:program_dietprogram_add' %}" class="btn btn-white m-1 p-2">
                                        ایجاد برنامه غذایی
                                    </a>
                                    <a href="{% url 'admin:exercise_exerciseprogram_add' %}" class="btn btn-white m-1 p-2">
                                        ایجاد برنامه تمرینی
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <div class="d-flex justify-content-between align-items-center col-12 col-lg-11 mx-auto my-3">
                <div class="table-title m-0">لیست برنامه های غذایی</div>
            </div>
            <section class="table-two col-12 col-lg-11" style="border-radius: 1rem">
                <table class="table">
                    {% if user.is_admin_user or user|has_package:'diet' %}
                        {% for program in user_detail.get_diet_programs %}
                            <tr>
                                <td>{{ program.title }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                                <td>
                                    <a href="{% url 'program:diet_program' program.pk %}" title="مشاهده برنامه" class="add-btn btn btn-primary"><i
                                            class="fa-solid  fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>برنامه ای یافت نشد</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="container-not-found-base">
                            <p>شما پکیج برنامه غذایی را تهیه نکرده اید</p>
                        </div>
                    {% endif %}
                </table>
            </section>

            <div class="d-flex justify-content-between align-items-center col-12 col-lg-11 mx-auto my-3">
                <div class="table-title m-0">لیست تمرینات ورزشی</div>
            </div>
            <section class="table-two col-12 col-lg-11" style="border-radius: 1rem">
                <table class="table">
                    {% if user.is_admin_user or user|has_package:'workout' %}
                        {% for program in user_detail.get_exercise_programs %}
                            <tr>
                                <td>{{ program.title }}</td>
                                <td class="datetime-convert">{{ program.get_created_at }}</td>
                                <td>
                                    <a href="{% url 'exercise:exercise_program' program.pk %}" title="مشاهده برنامه" class="add-btn btn btn-primary"><i
                                            class="fa-solid  fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <div class="container-not-found-base">
                                <p>تمرینی یافت نشد</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="container-not-found-base">
                            <p>شما پکیج بدنسازی را تهیه نکرده اید</p>
                        </div>
                    {% endif %}
                </table>
            </section>

        </main>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="edit-info-user" tabindex="-1" aria-labelledby="edit-info-user-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <form action="{% url 'account:user-profile-update' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">تغییر مشخصات</h5>
                    </div>
                    <div class="modal-body col-11 mx-auto">
                        <div class="my-3">
                            <label for="">کد ملی</label>
                            <input type="text" placeholder="کد ملی خود را وارد نمایید" class="form-control"
                                   name="national_code" required value="{{ user.info.national_code }}">
                        </div>
                        <div class="my-3">
                            <label for="">قد(سانتی متر)</label>
                            <input type="number" placeholder="قد خود را وارد نمایید" class="form-control" name="height"
                                   required value="{{ user.info.height }}">
                        </div>
                        <div class="my-3">
                            <label for="">وزن(کیلوگرم)</label>
                            <input type="number" placeholder="وزن خود را وارد نمایید" class="form-control" name="weight"
                                   required value="{{ user.info.weight }}">
                        </div>
                        <div class="my-3">
                            <label for="">عکس</label>
                            <input type="file" accept="image/*" class="form-control" name="picture">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>
                        <button type="submit" class="btn btn-primary">ثبت و بروزرسانی</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </body>
{% endblock %}

{% block Script %}
{#    <script src="{% static 'front/js/back.js' %}"></script>#}
    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
    <script>
        if (getUrlParameter('diet-add')) {
            let modal = new bootstrap.Modal(document.getElementById('diet-program-add'))
            modal.show()
        }
        if (getUrlParameter('training-add')) {
            let modal = new bootstrap.Modal(document.getElementById('training-program-add'))
            modal.show()
        }
    </script>
{% endblock %}
