/* Extra styles for admin panel */

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir.ttf');
    font-weight: normal;
}

* {
    font-family: Vazir, sans-serif;
}

/*.dashboard {*/
/*    background-image: url('../front/images/background.png');*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*    background-repeat: no-repeat;*/
/*}*/

#content-related {
    border-radius: 0.75rem;
    box-shadow: 0 0 4px 2px #5f5f5f80;
    max-height: 28rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#content-related::-webkit-scrollbar {
    width: 0;
    height: 0;
}
