{% extends 'base/base_template.html' %}
{% load static %}

{% block Title %}
    برنامه غذایی
{% endblock %}

{% block Link %}
    <link rel="stylesheet" href="{% static 'front/vendors/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/diet-plan.css' %}">
    <link rel="stylesheet" href="{% static 'front/styles/all.css' %}">
    <link rel="stylesheet" href="{% static 'styles/programs.css' %}">
{% endblock %}

{% block Content %}
    <section class="main-page">
        <main class="col-md-12 col-lg-12 content-main-admin">
            {% include 'base/components/header.html' %}

            <div class="d-flex justify-content-between align-items-center">
                <h2 class="text-white m-4">
                    برنامه غذایی
                    <span class="font-60">({{ diet_program.title }})</span>
                </h2>
                <a href="{% url 'account:user-profile' diet_program.user.id %}" class="d-flex align-items-center gap-1 text-center btn btn-danger mx-4">
                    بازگشت<i class="fa fa-arrow-circle-left"></i>
                </a>
            </div>

            <div class="main-p-box">
                {% for daily_program in diet_program.get_daily_programs %}
                    <div class="daily-p-box">
                        <div class="daily-p-header-box py-3">
                            {% if user.is_admin_user %}
                                <a class="mx-1 h4" href="{{ daily_program.get_absolute_url }}">
                                    {{ daily_program.get_day_label }}
                                </a>
                            {% else %}
                                <h3 class="mx-1">{{ daily_program.get_day_label }}</h3>
                            {% endif %}
                        </div>

                        <div class="daily-p-main-box">
                            {% for daily_meal in daily_program.daily_diet_meals.all %}
                                <div class="daily-p-main-inner-box">
                                    <div class="daily-p-main-inner-box-header">
                                        {% if user.is_admin_user %}
                                            <a href="{{ daily_meal.get_absolute_url }}">
                                                <h5 class="text-white">{{ daily_meal.meal.title }}</h5>
                                            </a>
                                        {% else %}
                                            <h5 class="text-white">{{ daily_meal.meal.title }}</h5>
                                        {% endif %}

                                        <span class="text-white" style="font-size: medium;">{{ daily_meal.meal.get_time }}</span>
                                    </div>
                                    <div class="daily-p-main-inner-inner-box">
                                        {% for meal_food in daily_meal.meal_foods.all %}
                                            <span class="p-box">
                                                <i class="fa fa-square" style="font-size: 0.6em; margin-left: 0.5rem;"></i>
                                                <span>{{ meal_food.amount }}</span>
                                                <span style="margin: 0 0.25rem;">{{ meal_food.amount_unit }}</span>
                                                <span>{{ meal_food.food.title }}</span>
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}

                {% endfor %}

                <div class="daily-p-box mt-4">
                    <div class="daily-p-header-box">
                        <h3 class="mt-2 me-2">توصیه های کلی</h3>
                    </div>
                    <div class="bg-white" style="padding: 0.5rem; border-radius: 0 0 0.25rem 0.25rem;">
                        {% for recommend in diet_program.get_program_recommends %}
                            <div class="mt-2" style="font-size: 12pt;">
                                <i class="fa fa-square" style="font-size: 0.6em; margin-left: 0.5rem;"></i>
                                <span style="font-weight: 400;">{{ recommend.text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </section>

    <script src="{% static 'front/vendors/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/diet-plan.js' %}"></script>
{% endblock %}
